{{#if employee}}
<a href="/employeeProfile">Back to Employee Profile</a>
{{else}}
<a href="/userProfile">Back to User Profile</a>
{{/if}}
<h1>Book Catalog:</h1>
{{#if success}}
<div class="Success"> Success: {{success}} </div>
{{/if}}
{{#if error}}
<div class="Error"> ERROR: {{error}}</div>
{{/if}}
<a href="/catalog"><p>Default sorting</p></a>
<a href="/catalog/mostLiked"><p>Sort by most liked</p></a>
<a href="/catalog/mostDisliked"><p>Sort by most disliked</p></a>
<br>
<div class="catalogComponent">
    {{#each catalog}}
    <a class="book" href="/catalog/{{this._id}}">
        <img alt="{{this.bookName}}" src="{{this.image}}">
        <h3>{{this.bookName}}</h3>
        <p>Number of copies avaliable: {{this.numCopies}}</p>

        <div id="new-content">
            <form method="POST" action="/menu/addFavBook" id="addFavBookForm">
                <input type="hidden" name="itemId" value="{{this._id}}">
                <input type="hidden" name="genre" value="{{this.genre}}">
                <input type="hidden" name="itemName" value="{{this.bookName}}">
                <input type="hidden" name="image" value="{{this.image}}">
                <button type="submit">♡ Add to Favorites</button>
            </form>
        </div>
    </a>

    
    {{/each}}
</div>