<h2>Hello {{firstName}}! </h1>
<a href = "/logout">Logout</a>
<h1>Menu:</h1>
<!--TODO Add items to menu datbase from the cafeowner page-->
{{#each menu}}
    <a class="menuItem" href="/menu/{{this._id}}">
        <img alt = "{{this.itemName}}" src = "{{this.image}}">
        <h3>{{this.itemName}}</h3>
        <p>{{this.price}}</p>
    </a>
{{/each}}
<!--
<div class="menuRow">
    <a class="menuItem">
        <img alt="Caffe Mocha Img" src = "public/images/caffeMocha.jpeg">
        <h3>Caffe Mocha</h3>
        <p>$3.99</p>
    </a>
    <a class="menuItem">
        <img alt="Latte Img" src = "public/images/latte.jpeg">
        <h3>Latte</h3>
        <p>$2.99</p>
    </a>
    <a class="menuItem">
        <img alt="Bottled Water Img" src = "public/images/water.jpeg">
        <h3>Bottled Water</h3>
        <p>$1.99</p>
    </a>
</div>-->