{{#if employee}}
<a href="/employeeProfile">❮ Back to Employee Profile</a>
{{else}}
<a href="/userProfile">❮ Back to User Profile</a>
{{/if}}
<h1>Menu:</h1>
{{#if success}}
<div class="Success"> Success: {{success}} </div>
{{/if}}
{{#if error}}
<div class="Error"> ERROR: {{error}}</div>
{{/if}}


<div class="menuComponent">
    {{#each menu}}
    <a class="menuItem" href="/menu/{{this._id}}">
        <img alt="{{this.itemName}}" src="{{this.image}}">
        <h3>{{this.itemName}}</h3>
        <p>{{this.price}}</p>
        <form method="POST" action="/menu/addFavDrink" id="addFavDrinkForm">
            <input type="hidden" name="itemId" value="{{this._id}}">
            <input type="hidden" name="category" value="{{this.category}}">
            <input type="hidden" name="itemName" value="{{this.itemName}}">
            <button type="submit">♡ Add to Favorites</button>
        </form>
    </a>
    {{/each}}
</div>