{{#if employee}}
<a href="/employeeProfile">❮ Back to Employee Profile</a>
{{else}}
<a href="/userProfile">❮ Back to User Profile</a>
{{/if}}
<h1>Menu:</h1>
{{#if success}}
<div class="Success"> Success: {{success}} </div>
{{/if}}
{{#if error}}
<div class="Error"> ERROR: {{error}}</div>
{{/if}}
<a href="/menu"><p>Default sorting</p></a>
<a href="/menu/mostLiked"><p>Sort by most liked</p></a>
<a href="/menu/mostDisliked"><p>Sort by most disliked</p></a>
<div class="menuComponent">
    {{#each menu}}
    <div class="menuItem">
    <a href="/menu/{{this._id}}">
        <img alt="{{this.itemName}}" src="{{this.image}}">
        <h3>{{this.itemName}}</h3>
        <p>{{this.price}}</p>
    </a>
    <form method="POST" action="/menu/addFavDrink" id="addFavDrinkForm">
            <input type="hidden" id="itemId" name="itemId" value="{{this._id}}">
            <input type="hidden" id="category" name="category" value="{{this.category}}">
            <input type="hidden" id="itemName" name="itemName" value="{{this.itemName}}">
            <input type="hidden" id="image" name="image" value="{{this.image}}">
            <button type="submit">♡ Add to Favorites</button>
        </form>
        </div>
    <div id="Error" class="Error" hidden> Error</div>
    {{/each}}
</div>