<a href="/menu">Back to Menu</a>
<h2>{{menuItem.itemName}}</h2>
<h4>Likes: {{menuItem.likes}} Dislikes: {{menuItem.dislikes}}</h4>
<img alt="{{menuItem.itemName}}" src="{{menuItem.image}}">
<dl>
    <dt>
        <p>Price: {{menuItem.price}}</p>
    </dt>
    <dt class="reviewsHeadline">
        <p>Reviews:</p>
    </dt>
    <dd>
        {{#if menuItem.reviews}}
        <dl>

            {{#each menuItem.reviews}}
            <div class="reviews">
                <dt>Review from {{this.Reviewer_name}}:</dt>
                <dd>Rating: {{this.Rating}}/5 stars</dd>
                <dd>{{this.Reviewer_name}} wrote: {{this.Summary}}</dd>
                {{#if this.Comments}}

                    <dd>Comments:</dd>
                    <dd>
                         <div class="commentsComponent">
                        <dl>
                            {{#each this.Comments}}
                            <div class="comments">
                                <dt>{{this.Commenter_name}} found this review {{this.Helpful_Review}}!</dt> <dd>Their comment:
                                    {{this.Comment_data}}</dd>
                            </div>
                            {{/each}}
                        </dl>
                         </div>
                    </dd>


                    {{/if}}
                    <dd><a href="/productReviewsComments/{{this._id}}">Would you like to comment?</a></dd>
            </div>
            {{/each}}

        </dl>
        {{else}}
        <h5>None yet!</h5>
        {{/if}}
    </dd>
</dl>
<a href="/productReviews/{{menuItem._id}}">Would you like to write a review?</a>
<br />
<br />
{{#if success}}
<div class="Success"> {{success}} </div>
{{/if}}
{{#if error}}
<div class="Error"> ERROR: {{error}}</div>
{{/if}}
<div id="Error" class="Error" hidden> Error</div>
<br />
<h3>Order Now!</h3>
<form method="POST" action="/checkout/addToCart" id="checkoutForm">
  <label id = "time_label" for="time">
      Pick Up Time (Ex. 12:00:PM):
      <input name="time" type="time" id="time"/>
  </label>
    <label id = "note_label" for="note">
        Notes (optional):
        <input name="note" type="text" id="note"/>
    </label>

        <input type="hidden" name="itemId" id="itemId" value="{{menuItem.itemName}}"/>
        <input type="hidden" name="userId" id="userId" value="{{userId}}"/>
	<button type="submit">Place your order</button>
</form>
