<!-- Still a work in progress (Harrison) -->
<a href="/menu">Back to Menu</a>
<h2>{{menuItem.itemName}}</h2>
<img alt = "{{menuItem.itemName}}" src = "{{menuItem.image}}">
<dl>
    <dt><h3>Price: {{menuItem.price}}</h3></dl>
    <dt><h3>Reviews:</h3></dt>
    <dd>
        {{#if menuItem.reviews}}
            <dl>
                {{#each menuItem.reviews}}
                    <dt>Review from {{this.Reviewer_name}}:</dt>
                    <dd>Rating: {{this.Rating}}/5 stars</dd>
                    <dd>{{this.Reviewer_name}} wrote: {{this.Summary}}</dd>
                    {{#if this.Comments}}
                        <dd>Comments:</dd>
                        <dd>
                            <dl>
                                {{#each this.Comments}}
                                    <dd>{{this.Commenter_name}} found this review {{this.Helpful_Review}}! Their comment: {{this.Comment_data}}</dd>
                                {{/each}}
                            </dl>
                        </dd>
                    {{/if}}
                    <dd><a href="/productReviewsComments/{{this._id}}">Would you like to comment?</a></dd>
                {{/each}}
            </dl>
        {{else}}
            <h5>None yet!</h5>
        {{/if}}
    </dd>
</dl>
<a href="/productReviews/{{menuItem._id}}">Would you like to write a review?</a>
