<h2>Hello {{firstName}}! </h1>

{{#if employee}}
<a href = "/employeeProfile">Back to Employee Profile</a>
{{else}}
<a href = "/userProfile">Back to User Profile</a>
{{/if}}
<h1>Menu:</h1>
{{#each menu}}
    <a class="menuItem" href="/menu/{{this._id}}">
        <img alt = "{{this.itemName}}" src = "{{this.image}}">
        <h3>{{this.itemName}}</h3>
        <p>{{this.price}}</p>
    </a>
{{/each}}